$xtoken-purple: #9500FC;
$xtoken-font-base: #322879;
$hover-bg: #E5E5E5;

// X CARD

.x-card {
  border: 1px solid $xtoken-purple;
  margin: 100px 200px !important;
}

.x-card-menu {
  // border: 1px solid $xtoken-purple;
}

.xtoken-title {
  color:$xtoken-font-base !important;
}

.x-card-menu-choice {
  text-align: center;
  border: 1px solid $xtoken-purple;
  color: $xtoken-purple;
  &:hover {
    color: #FFFFFF;
    background: $xtoken-purple;
  }
}

// OVERVIEW

.overview-det {
  margin: 0.2rem 0;
}

.overview-det-name {
  font-weight: 600;
}

// HACK
.dets-btn {
  background: $xtoken-purple !important;
  color: #FFFFFF !important;
}
